.card {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0 0 10px rgba(119, 119, 119, 0.897);
  box-shadow: 0 0 10px rgba(119, 119, 119, 0.897);
  text-decoration: none;
  margin: 0.5em;
  /* padding: 0.5em 1em; */
  background-color: rgba(255, 255, 255, 0.507);
}
