// Virable declaration
$pri-bg: #64567a;
$sec-bg: #4ca1a3;
$main-bg: rgba(67, 111, 112, 0.527);
$loc-bg: #b0feff69;
* {
  color: #423c4d;
}

// scroll section
$card-bg: rgba(209, 209, 209, 0.281);
$cart-bg: rgba(209, 209, 209, 0.445);
$scrollSec-bg: rgb(50, 205, 216);

// Border VAR
$border-pri: #e5989b;

// text Box
$pri-text-box: rgba(255, 255, 255, 0.788);

// font styles
$font-pri: "Cormorant Garamond", serif;
$font-sec: "Do Hyeon", sans-serif;
$font-header: "Josefin Sans", sans-serif;
$font-main: "Righteous", cursive;
$font-default: "Varela Round", sans-serif;
