@import "../../styles/global";

.main {
  @include applyCon;
  margin: 1em auto;
}

@import "./rest";

.foods-con {
  width: 95%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  // grid-template-rows: max-content;
  //   grid-auto-rows: 250px;
  margin: 1em auto;
  .food {
    padding: 0.5em;

    img {
      // max-width: 150px;
      width: 100%;
      margin: 0 auto;
      max-width: 300px;
      border-radius: 5px;
    }

    .title {
      margin: 0.5em 0 0 0;
    }

    .price-add {
      display: flex;
      justify-content: space-between;
      margin: 0.5em 0 0 0;

      div {
        padding: 0.5em;
        background-color: rgb(255, 234, 118);
        margin: auto 0 0 auto;
        border-radius: 10px;
        align-self: flex-end;
        justify-self: end;
        cursor: pointer;
        &:hover {
          background-color: aliceblue;
        }
      }
    }
  }
}

@media (max-width: 700px) {
}
