/* .height {
  min-height: 40vh;
} */
.footer-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
  background-color: #320081a9;

  align-items: center;
  position: relative;
  margin-top: 4em;
}
.footer-con p {
  color: white;
  font-size: 1.5rem;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-con .footer a {
  width: 100%;
  max-width: 230px;
  text-decoration: none;
  padding: 0.5em;
  margin: 1em;
  border: 1px solid;
  background-color: rgba(240, 255, 255, 0.705);
  border-radius: 10px;
  font-size: 1.3rem;
  text-align: center;
}
.footer-con .footer a:hover {
  background-color: rgb(255, 255, 147);
}

.footer-con .footer p span {
  background-color: rgb(255, 255, 147);
  padding: 0 0.5em;
  font-weight: 700;
}
.footer-con .footer p {
  position: absolute;
  top: -25px;
  right: 0;
  font-size: 1rem;
}

.license {
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  color: rgb(255, 248, 183);
  margin: 0.5em;
}

.license a img {
  margin: 0 auto;
  width: 60px;
}

.license a {
  color: rgb(177, 177, 255);
  margin: 0 0.5em;
}

@media (max-width: 700px) {
  .footer-con a {
    font-size: 1rem;
  }
}
