@media (max-width: 950px) {
  .rest-container {
    grid-template-columns: repeat(1, 0.6fr);

    .rest {
      // margin: 0.5em;
      img {
        max-width: 200px;
        // height: 95%;
        // margin: 0.5em 0;
      }
    }
  }
}
@media (max-width: 700px) {
  .rest-container {
    grid-template-columns: 1fr;
    .rest {
      img {
        max-width: 250px;
      }
    }
  }
}

@media (max-width: 450px) {
  .rest-container {
    .rest {
      img {
        max-width: 200px;
      }
    }
  }
}
